*{
    margin:0;
    padding:0;
}
body{
    background-color:burlywood;
    text-align:center;
    color:dimgray;
}
.container{
    height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.game{
        height:60vmin;
        width:60vmin;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
        gap:1.0vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius:1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size:10vmin;
    color:cadetblue;
}#Reset{
    padding:1rem;
    font-size:1.25 rem;
    background-color:beige;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:1rem;
    border:none;

}
#new-btn{
    padding:1rem;
    font-size:1.25 rem;
    background-color:beige;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:1rem;
    border:none;
 
}
#msg{
    color:black;
    font-size: 8vmin;
}
.hide{
    display:none;
}
